div {
	text-align: center;
	font-family: arial;
	margin: 0px;
	padding: 0px;
}
.headertext {
	font-size:20px;
	color:#FA7D21;
	font-weight:bold;
}
.subheader {
	font-size:12px;
	color:#FA7D21;
	font-weight:bold;
}
.text {
	font-size:11px;
}

.text2 {
	font-size:12px;
}
.headerTitle {
	margin-top:-5px;
}
.addTopMargin {
	margin-top:5px;
}
.links {
	font-size:15px;
	font-weight:bold;
	margin-top:10px;
}